main {
  height: auto;
  padding-top: 14px;
  align-items: center;
  gap: 10px;
}

#ramoLogo {
  height: 108px;
  width: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

h2,
p {
  width: 278px;
  text-align: center;

  margin: 0px;
}

h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #e90729;
}

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #44332c;
}

ul {
  list-style: none;
  display: flex;

  margin: 0px;
  margin-top: 8px;
  margin-right: 18px;
  padding: 0px;
}

li {
  width: 24vw;
  text-align: center;
}

img {
  width: 42px;
}

figure {
  margin: 0px;
}

figcaption {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

ul > *:last-child {
  margin-left: 18px;
}

main > p {
  margin-top: 8px;
}

@media screen and (min-width: 744px) and (orientation: portrait) {
  main {
    gap: 32px;
  }

  article {
    gap: 22px;
  }

  h2 {
    width: 420px;
  }

  p {
    width: 480px;
  }

  iframe {
    width: 500px;
    height: 300px;
  }

  #ramoLogo {
    margin-top: 18px;
  }
}

@media screen and (orientation: landscape) {
  body {
    --scale-factor: 1.6;
  }

  h2 {
    font-size: calc(20px * var(--scale-factor)) !important;
  }

  p {
    font-size: calc(14px * var(--scale-factor)) !important;
    width: 480px !important;
  }

  figcaption {
    font-size: calc(14px * var(--scale-factor)) !important;
  }

  li {
    width: 16vw;
    margin-right: 0px;
  }

  ul {
    max-width: 520px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  iframe {
    width: 430px;
    height: 260px;
  }
}

@media screen and (min-width: 1440px) {
  main {
    gap: 18px;
  }

  #ramoLogo {
    width: 260px;
    height: auto;
  }

  article {
    gap: 20px;
  }

  iframe {
    margin-top: 12px;
    width: 470px;
    height: 260px;
  }
}
