main,
body {
  background-color: #d3cfc9;
  height: fit-content;
}

main {
  align-items: center;
}

#page-info {
  margin: 8px 16%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#page-info > p {
  margin: 6px 0px;
  text-align: left;
}

form *,
h2,
h3 {
  margin: 0px;
}

legend {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

form label {
  display: initial;

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

form {
  margin-top: 12px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 94%;
}

fieldset > div {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3px;

  width: 56%;
  min-width: 250px;
}

fieldset input {
  width: 75%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 18px;
  align-self: center;

  appearance: button;
  cursor: pointer;
  user-select: none;

  color: #f6f5f4;
  background: #0259be;
  box-shadow: 0px 8px 0px #0d3059;

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;

  border: none;
  border-radius: 4px;
}

.errMsg {
  color: red;
}

.errField {
  border-color: red;
}

#thanksMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  position: fixed;
  width: 90vw;
  height: 75vh;
  top: 12.5%;
  left: 5%;
  padding: 0px 16%;

  text-align: center;
  border-radius: 12px;

  color: #f6f5f4;
  background-color: #5f483f;
}

#thanksMsg > div {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

#thanksMsg > h2 {
  font-size: 38px;
}

.thanksHidden {
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.thanksVisible {
  display: initial;
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

@media screen and (orientation: portrait) {
  #page-info {
    width: 86%;
  }

  #thanksMsg > h2 {
    font-size: 30px;
  }

  #thanksMsg {
    padding: 0px 6%;
  }

  input + span {
    left: 68% !important;
  }

  textarea + span {
    left: 82% !important;
  }
}
