* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #5f483f;
  color: #44332c;
}

main {
  display: flex;
  flex-direction: column;
  height: 589.22px;
  background-color: #d3cfc9;

  gap: 10px;
}

header {
  background-color: #d3cfc9;
}

a.btn-light,
a.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 18px;

  appearance: button;

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;

  border: none;
  border-radius: 4px;
}

.btn-blue {
  color: #f6f5f4;
  background: #0259be;
  box-shadow: 0px 8px 0px #0d3059;
}

.btn-light {
  color: #44332c;
  background: #f6f5f4;
  box-shadow: 0px 8px 0px #9c8d87;
}

/* Navbar section */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 4px 4px;

  font-family: Tahoma, Verdana, Segoe, sans-serif;

  color: #f6f5f4;
  background-color: #db4510;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navLogo {
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

.navItems > a {
  font-size: 12px;
  text-decoration: none;
  flex: 0 0 auto;

  color: inherit;
}

.navItems {
  display: flex;
  gap: min(calc(4vw), 30px);
  /*width: 54%;
  max-width: 270px;*/
}

label span {
  user-select: none;
}

@media screen and (orientation: portrait) {
  .navbar {
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }

  .navItems {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
  }

  #menu {
    display: none;
  }

  #menu:not(:checked) ~ .navItems {
    display: none;
  }

  #menu:checked ~ .navItems {
    display: flex;
    flex-basis: 100%;
  }
}

@media screen and (orientation: landscape) {
  #menu,
  label {
    display: none;
  }
}

/* Hero section */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 8px;

  text-align: center;

  color: #44332c;
}

#heroHeader > h2,
#heroHeader > h3 {
  margin: 0;
}

#heroHeader > h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#heroHeader > h3 {
  font-size: 14px;
  font-weight: normal;
}

#hero > img {
  min-width: 244px;
  width: 42vw;
  transform: rotate(-6deg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* About section */

#about {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 8px;
  padding: 14px calc(calc(100% - 286px) / 2) 22px calc(calc(100% - 286px) / 2);

  color: #f6f5f4;
  background-color: #5f483f;

  border-radius: 8px 8px 0px 0px;
}

#about article {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#about h4 {
  text-align: center;

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
}

#about p {
  font-size: 12px;
  margin: 0px;
}

#about img {
  align-self: center;
  width: 188px;
  border: 2px solid #d3cfc9;
  border-radius: 16px;
}

#about a {
  align-self: center;
}

/* Media queries */

@media screen and (min-width: 655px) {
  @media screen and (orientation: portrait) {
    h1 {
      font-size: calc(20px * 2) !important;
      margin: 13.4px 0px;
    }

    h2 {
      font-size: calc(24px * 2) !important;
    }

    h3,
    a.btn-light,
    a.btn-blue {
      font-size: calc(14px * 2) !important;
    }

    h4 {
      font-size: calc(16px * 2) !important;
    }

    p,
    .navItems > a,
    figcaption {
      font-size: calc(12px * 2) !important;
    }

    main {
      gap: 2vh;
    }

    #hero {
      padding-top: 1.4vh;
    }

    #about {
      --content-width: 580px;
      padding: 2vh calc(calc(100% - var(--content-width)) / 2) 2vh
        calc(calc(100% - var(--content-width)) / 2) !important;
    }

    #hero img {
      width: 70vw;
      margin-top: 1vh;
      margin-bottom: 1vh;
    }

    #about img {
      width: 28vh;
    }
  }

  @media screen and (orientation: landscape) {
    #hero img {
      width: 36vw;
    }
  }

  .navbar {
    justify-content: space-between;
    padding: 0px 4%;
  }

  .navItems {
    min-width: 210px;
  }

  .navItems > a {
    font-size: 14px;
  }

  #about {
    padding-left: calc(50% - 178px);
    padding-right: calc(50% - 178px);
  }
}

@media screen and (min-width: 1024px) {
  #about {
    padding-top: 3vh;
  }

  #about img {
    width: 28vh;
  }
}

@media screen and (min-width: 1280px) {
  body {
    overflow-y: auto;
    --scale-factor: 1.6;
  }

  h1 {
    font-size: calc(20px * var(--scale-factor)) !important;
    margin: 13.4px 0px;
  }

  h2 {
    font-size: calc(24px * var(--scale-factor)) !important;
  }

  h3,
  a.btn-light,
  a.btn-blue {
    font-size: calc(14px * var(--scale-factor)) !important;
  }

  h4 {
    font-size: calc(16px * var(--scale-factor)) !important;
  }

  p,
  .navItems > a,
  figcaption {
    font-size: calc(12px * var(--scale-factor)) !important;
  }

  #hero img {
    width: 32vw;
  }

  #about {
    --content-width: 600px;
    padding: 2vh calc(calc(100% - var(--content-width)) / 2) 2vh
      calc(calc(100% - var(--content-width)) / 2) !important;
  }
}

@media screen and (min-width: 1440px) {
  main {
    gap: 2.8vh;
  }

  #hero {
    padding-top: 2.4vh;
  }

  #hero img {
    width: 36vw;
  }

  #about {
    padding-top: 2.4vh !important;
  }

  #about img {
    width: 36vh;
  }
}
